@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-social/bootstrap-social.css";
@import "../../node_modules/font-awesome/css/font-awesome.min.css";

.map-container-5{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-5 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
